@font-face {
  font-family: 'NYJGothicEB';
  src: url('NYJGothicEB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NYJGothicB';
  src: url('NYJGothicB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NYJGothicM';
  src: url('NYJGothicM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'esamanru';
  src: url('esamanru Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'esamanru';
  src: url('esamanru Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'esamanru';
  src: url('esamanru Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}